{% extends "base.html" %}

{% block body_content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="l-box">
            <h1>Welcome to InTweet</h1>
            <h2>Twitter Sentiment Analysis Tool</h2>
            <p>InTweet is a sentiment analysis tool which allows users to effectively monitor the general user perception of publicly posted tweets about a company on Twitter. InTweet is a fully automated tool, allowing the user to input monitoring rules which are then automatically harvested from Twitter on a regular basis and analysed using our sentiment detection algorithm. </p>
        </div>
    </div>
    <div class="pure-u-1-3">
        <div class="1-box">
            <br /><form action="login" method="post" accept-charset="utf-8" class="pure-form pure-form-aligned">
               <fieldset>
                    <legend>Please Login</legend>
                    <p>
                        <div class="pure-control-group">
                            <label for="email">Email</label>    
                            <input type="email" name="email" placeholder="Email" value="" />
                        </div>
                        <div class="pure-control-group">
                            <label for="password">Password</label> 
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
                        </div>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}