{% extends "base.html" %}
{% block body_content %}
{% if error.errors >= 1 %}
<div class="alert alert-danger" role="alert">
  {{ error.message }}
</div>
{% endif %}
<div class="content">
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-2-3">
        <div class="1-box">
            <br /><form action="register" method="post" accept-charset="utf-8" class="pure-form pure-form-aligned">                <fieldset>
                    <legend>Please Register</legend>
                    <p>
                        <div class="pure-control-group">
                            <label for="fullname">Full Name</label>    
                            <input type="text" name="fullname" placeholder="Full Name" value="" />
                        </div>
                        <div class="pure-control-group">
                            <label for="email">Email</label>    
                            <input type="text" name="email" placeholder="Email" value="" />
                        </div>
                        <div class="pure-control-group">
                            <label for="password">Password</label> 
                            <input type="password" name="password" placeholder="Password" />
                        </div>
                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary">Register</button>
                        </div>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="pure-u-1-3">
        &nbsp;
    </div>
  </div>
</div>
{% endblock %}