{% extends "user_base.html" %}
{% block body_content %}
<div class="header">
  <h1>Freetext Classification</h1>
  <h2>Beta</h2>
</div>

<div class="content">
  <p>      
    {{ result }}<br />            
    <form action="http://www.intweet.co.uk/index.php/freetext" method="post" accept-charset="utf-8" class="pure-form pure-form-aligned">
      <div class="pure-control-group">
        <label for="freetext" class="pure-u-1-4">FreeText</label>
        <textarea class="pure-u-3-4" name="freetext" rows="6" required>{{ freetext }}</textarea>
      </div>
      <div class="pure-controls">
        <input class="pure-button pure-button-primary" type="submit" value="Classify" />
      </div>
    </form>
  </p>
</div>
{% endblock %}