<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    
    <title>{{ global_config.site_name }} - {{ local_config.page_name}}</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css"/>
    <link rel="stylesheet" href="{{ global_config.site_url }}/static/pure/css/layouts/side-menu.css" />
    <link rel="stylesheet" href="{{ global_config.site_url }}/static/pure/css/buttons.css" />
    <link rel="stylesheet" href="{{ global_config.site_url }}/static/pure/css/mfglabs_iconset.css" />
    <script src="{{ global_config.site_url }}/static/jquery/jquery-1.10.2.min.js"></script>
    <script>
       $(document).ready(function(){
           var $tab = $('.pure-menu-shelf-icon');
           $tab.click(function(){
               var $this = $(this),
                   target = $this.attr('data-target');
               $('.pure-menu-shelf-icon').removeClass('active');
               $('.pure-menu-shelf-content').removeClass('active');
               $(target).addClass('active');
               $this.addClass('active');
               return false;
           });
       });
    </script>
    <script>
    
    </script>
  </head>
  <body>
    <div class="pure-g-r" id="layout">
      <a href="#menu" id="menuLink" class="menu-link">
       <span></span>
      </a>
      <div class="pure-u" id="menu">
         <div class="pure-menu pure-menu-open">
           <div class="pure-menu-shelf">
             <a href="#" class="pure-menu-shelf-icon{% if local_config.home %} active{% endif %}" data-target=".pure-menu-shelf-content-1"><i class="icon-twitter"></i></a>
             <a href="#" class="pure-menu-shelf-icon{% if local_config.monitor %} active{% endif %}" data-target=".pure-menu-shelf-content-2"><i class="icon-chart"></i></a>
             <a href="#" class="pure-menu-shelf-icon{% if local_config.analytics %} active{% endif %}" data-target=".pure-menu-shelf-content-3"><i class="icon-spread"></i></a>
           </div>
           <ul class="pure-menu-shelf-content pure-menu-shelf-content-1{% if local_config.home %} active{% endif %}">
             <li{% if local_config.dashboard %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/dashboard">Dashboard</a></li>
             <li{% if local_config.freetext %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/freetext">Freetext (Beta)</a></li>
           </ul>
           <ul class="pure-menu-shelf-content pure-menu-shelf-content-2{% if local_config.monitor %} active{% endif %}">
             <li{% if local_config.viewrules %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/monitor">View / Edit Rules</a></li>
             <li{% if local_config.addrules %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/monitor/add">Add New Rule</a></li>
             <li{% if local_config.prioritytweets %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/prioritytweets">Priority Tweets</a></li>
           </ul>
           <ul style="overflow-y: auto;" class="pure-menu-shelf-content pure-menu-shelf-content-3{% if local_config.analytics %} active{% endif %}">
             <li><a class="nav-btn" href="{{ global_config.site_url }}/analytics">View All</a></li>
             {% for rule in menu_rules %}
              <li{% if local_config.analytics and ruledata and rule.id == ruledata.id %} class="pure-menu-selected menu-item-divided"{% endif %}><a class="nav-btn" href="{{ global_config.site_url }}/analytics/show/{{ rule.id }}">{{ rule.rulename }}</a></li>
             {% endfor %}
           </ul>
           <ul class="profile">
             <li>
               <a href="#" class="avatar">
                 <img src="https://s3.amazonaws.com/uifaces/faces/twitter/idiot/128.jpg" alt="{{ userdata.fullname }}" title="Edit Profile"/>
               </a>
               <a href="#" class="profile-name">
                 {{ userdata.fullname }}
               </a>
             </li>
             <li class="utilities">
               <a href="/logout"><i class="icon-signout"></i></a>
             </li>
          </ul>
          </ul>
        </div>
      </div>
      <div class="pure-u-1" id="main">
        <a class="logo" href="/">
            <img src="{{ global_config.site_url }}/static/pure/img/tweetlogo-text.png"/>
        </a>
        <div id="main">
          {% block body_content %}
          {% endblock %}
        </div>
      </div>  
    </div>
    <script src="{{ global_config.site_url }}/static/pure/js/ui.js"></script>
  </body>
</html>